Source: cloud-init
Maintainer: Scott Moser <smoser@ubuntu.com>,
           Charles Plessy <plessy@debian.org>
Uploaders: Miguel Landaeta <miguel@miguel.cc>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               iproute2,
               pep8,
               po-debconf,
               python-pyflakes | pyflakes (<< 1.1.0-2),
               pylint,
               python,
               python-boto (>= 2.3),
               python-cheetah,
               python-configobj,
               python-httpretty,
               python-jinja2,
               python-jsonpatch,
               python-jsonschema,
               python-mock,
               python-mocker,
               python-nose,
               python-oauth,
               python-oauthlib,
               python-serial,
               python-setuptools,
               python-six,
               python-unittest2,
               python-requests,
               python-yaml
XS-Python-Version: all
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/cloud-init.git;a=summary
Vcs-Git: git://anonscm.debian.org/collab-maint/cloud-init.git
Homepage: https://launchpad.net/cloud-init
Standards-Version: 3.9.5

Package: cloud-init
Architecture: all
Depends: lsb-base (>= 4.1+Debian3),
         ifupdown,
         procps,
         python,
         python (>= 2.7) | python-argparse,
         python-boto (>= 2.3),
         python-cheetah,
         python-configobj,
         python-jsonpatch,
         python-oauth,
         python-prettytable,
         python-requests,
         python-serial,
         python-software-properties,
         python-yaml,
         ${misc:Depends},
         ${python:Depends}
Recommends: eatmydata, gdisk, software-properties-common
XB-Python-Version: ${python:Versions}
Description: initialization system for infrastructure cloud instances
 Cloud-init provides a framework and tool to configure and customize virtual
 machine instances for Infrastructure-as-a-Service (IaaS) clouds platforms. It
 can for example set a default locale and hostname, generate SSH private host
 keys, install SSH public keys for logging into a default account, set up
 ephemeral mount points, and run user-provided scripts.
 .
 Various methods are supported for passing data to the instance at launch
 time, including the standard interfaces of multiple platforms.

Package: grub-legacy-ec2
Depends: debconf | cdebconf,
         ucf,
         util-linux,
         ${misc:Depends}
Conflicts: grub
Suggests: grub-legacy-doc
Architecture: all
Description: Handles update-grub for ec2 instances
 EC2 instances that use grub-legacy as a bootloader need a way to keep
 /boot/grub/menu.lst up to date while not conflicting with grub-pc.
 This package provides that.
