#!/usr/bin/make -f

%:
	dh $@ --with python2 --buildsystem=python_distutils

## override_dh_install:
## 	dh_install
## 	rm -rf debian/cloud-init/usr/lib/python?.?/dist-packages/tests

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	dh_auto_test
	$(MAKE) test
endif

override_dh_installinit:
	dh_installinit --no-start --no-restart-on-upgrade --name cloud-init-local
	dh_installinit --no-start --no-restart-on-upgrade
	dh_installinit --no-start --no-restart-on-upgrade --name cloud-config
	dh_installinit --no-start --no-restart-on-upgrade --name cloud-final

override_dh_auto_install:
	dh_auto_install --destdir=debian/cloud-init
	install -D -m 0644 debian/net-convert-debian-ubuntu-only.py debian/cloud-init/usr/bin/net-convert.py
	install -D -m 0644 ./tools/21-cloudinit.conf debian/cloud-init/etc/rsyslog.d/21-cloudinit.conf
	install -D ./tools/Z99-cloud-locale-test.sh debian/cloud-init/etc/profile.d/Z99-cloud-locale-test.sh
	install -D ./tools/Z99-cloudinit-warnings.sh debian/cloud-init/etc/profile.d/Z99-cloudinit-warnings.sh
	install -m 0644 -D debian/apport-launcher.py debian/cloud-init/usr/share/apport/package-hooks/cloud-init.py
	rm -rvf debian/cloud-init/lib/systemd
